@font-face {
    font-family: alkhemikal;
    src: url("font/Alkhemikal.ttf");

    font-family: Lggothic;
    src: url("font/LGGothic.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-image: url(images/rotunda.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "alkhemikal", "Arial", sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/stone.jpg);
    border-radius: 10px;
    box-shadow: 0 0 150px #1a300d;
    padding-right: 55px;
}

.left {
    margin: 0;
    padding: 0;
    width: 700px;
    height: 600px;
    flex: 1;
}

img {
    width: 700px;
    height: 600px;
    border-radius: 10px 0 0 10px;
}

.right {
    flex: 2;
    padding-left: 60px;
    height: 600px;
    /* Make sure this matches the container height */
}

h1 {
    color: #101f07;
    font-size: 3em;
    text-shadow: 0 0 10px #FF0000, 0 0 5px;
}

h2 {
    background-color: #34462a;
    color: #101f07;
    font-size: 2.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -15px;
    padding-left: 15px;
    border-radius: 10px 10px 0 0;
    width: 40%;
    text-shadow: 0 0 1px #ffffff, 0 0 5px;
}

h3 {
    color: #101f07;
    font-size: 1.4em;
    text-shadow: 0 0 1px #ffffff, 0 0 5px;
}

form {
    background-color: #34462a;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 80px;
}

form label {
    color: #D3D3D3;
    font-size: 1.5em;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
}

.button {
    background-color: #331414;
    color: #D3D3D3;
    font: 20px Lggothic;
    border-radius: 10px;
    width: 50%;
    margin-left: 110px;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background: #1a300d;
    text-shadow: 0 0 10px #FF0000, 0 0 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox {
    width: auto;
    height: auto;
    margin-top: 8px;
    margin-right: 10px;
}

.checkbox-container label {
    color: #D3D3D3;
    font-size: 20px;
}

.fog-img {
    position: absolute;
    height: 100vh;
    width: 500vw;
    z-index: -10;
}

.fog-img-first {
    background: url('images/fog-1.png') repeat-x;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 60s linear infinite;
}

.fog-img-second {
    background: url('images/fog-2.png') repeat-x;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0);
    }
}

.jumpscare {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
}

.effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.3;
    z-index: 100;
    pointer-events: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .right {
        padding-left: 0;
    }

    h2 {
        width: 100%;
    }
}